h1 {
  display: block;
}

#wrapper {
  display: block;
  margin: 0 auto;
  width: 970px;
  height: 970px;
  border: 1px dotted red;
}

#images {
  display: block;
  margin: 0 auto;
  width: 970px;
  height: 26%;
  text-align: center;

}

#houseDetails {
  display: block;
  width: 600px;
  height: 40%;
  margin: 0 auto;
  padding: 5px;
  border: 5px solid black;
  text-align: center;
}

img {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin-left: 10px;
  margin-top: 20px;

}
